.

	<footer>
		<div class="footer_in">
		  <div class="footer__logo pc">
		    <a href="/cinal.html"><img src="/content/dam/shc/jp/cinal/img/shionogi-logo.png" alt="シオノギヘルスケア"></a>
		  </div>
		  <div class="footer__menu">
		    <ul>
		      <li><a href="https://fofa.jp/song/a.p/116/" target="_blank">お問い合わせ</a></li>
		      <li><a href="/other/privacy.html" target="_blank">個人情報の取り扱いについて</a></li>
		    </ul>
		  </div>
		  <p class="footer__copyright">Copyright (C) Shionogi Healthcare Co., Ltd. All Rights Reserved.</p>
		</div>
	</footer>
