@import "../../../../../../_less/font.less";
@import "../../../../../../_less/config.less";
@import "../../../../../../_less/mixin.less";
@import "../../../../../../_less/keyframes.less";
@import "../../../../../../_less/reset.less";
@import "../../../../../../_less/normalize.less";
@import "../../../../../../_less/responsive.less";
//@import "../../../../../../_less/swiper.less";
//@import "../../../../../../_less/cmn.less";

/*==============================================================

 ■ Common(SP)

===============================================================*/

body{
	//.font-gothic();
	//background:url(/common/img/pc_bg.png) top center;
	font-size:24px;
	color:black;
	line-height:150%;
	background-color:#FFF;
	-webkit-text-size-adjust: none;
}

