@import "../../../../../../_less/font.less";
@import "../../../../../../_less/config.less";
@import "../../../../../../_less/mixin.less";
@import "../../../../../../_less/keyframes.less";
@import "../../../../../../_less/reset.less";
@import "../../../../../../_less/normalize.less";
@import "../../../../../../_less/responsive.less";
//@import "../../../../../../_less/swiper.less";
//@import "../../../../../../_less/cmn.less";


/*==============================================================

 ■ Common(PC)

===============================================================*/

@minwidth: 1280px;



body{
	.font-gothic();
	//background:url(/common/img/pc_bg.png) top center;
	font-size:14px;
	color:black;
	line-height:200%;
	background-color:#FFF;
	//overflow-x: hidden;
	//min-width: 1300px;
}
.inner{
	//width: 1240px;
	//min-width: 1240px;
	margin: 0 auto;
}
.header{

}

