
.cmn-footer {
	position: relative;
	line-height: 1.3;
	background-color: #00587c;
	color: #ffffff; }

	.cmn-footer a {
		color: #ffffff; }
	.cmn-footer .return-top__button {
		position: absolute;
		display: block;
		background-color: rgba(0, 0, 0, 0);
		opacity: 1;
		top: 0;
		right: 0;
		z-index: 2;
		cursor: pointer; }
		@media screen and (min-width: 768px) {
			.cmn-footer .return-top__button {
				transition: .1s linear;
				width: 80px;
				height: 80px; } }
		@media screen and (max-width: 767px) {
			.cmn-footer .return-top__button {
				width: 40px;
				height: 40px;
				background-color: rgba(0, 0, 0, 0.2); } }
		.cmn-footer .return-top__button:hover {
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.2); }
	@media screen and (min-width: 768px) {
		.cmn-footer {
			height: 470px;
			width: 100%;
			min-width: 1180px; } }
	.cmn-footer .return-top__arrow {
		position: absolute; }
		@media screen and (min-width: 768px) {
			.cmn-footer .return-top__arrow {
				width: 13px;
				height: 9px;
				top: 30px;
				right: 35px; } }
		@media screen and (max-width: 767px) {
			.cmn-footer .return-top__arrow {
				width: 9px;
				height: 7px;
				top: 6px;
				right: 16px; } }
	@media screen and (min-width: 768px) {
		.cmn-footer .footer-inner__wrap {
			width: 1100px;
			margin: 0 auto; } }
	.cmn-footer .footer-inner__wrap .footer-top__wrap {
		position: relative;
		justify-content: space-between;
		display: flex; }
		@media screen and (min-width: 768px) {
			.cmn-footer .footer-inner__wrap .footer-top__wrap {
				padding-top: 100px;
				padding-bottom: 40px;
				border-bottom: 1px solid #337996; } }
		@media screen and (max-width: 767px) {
			.cmn-footer .footer-inner__wrap .footer-top__wrap {
				width: 690px;
				margin: 0 auto;
				padding-top: 65px; } }
		@media screen and (min-width: 768px) {
			.cmn-footer .footer-inner__wrap .footer-top__wrap .footer-logo__wrap {
				width: 130px;
				top: 100px; } }
		.cmn-footer .footer-inner__wrap .footer-top__wrap .footer-logo__wrap .logo-svg {
			height: 38px;
			width: 220px; }
		@media screen and (max-width: 767px) {
			.cmn-footer .footer-inner__wrap .footer-top__wrap .footer-logo__wrap {
				width: 110px;
				height: 16px; } }
		.cmn-footer .footer-inner__wrap .footer-top__wrap .contact-link {
			overflow: hidden;
			position: relative; }
			@media screen and (min-width: 768px) {
				.cmn-footer .footer-inner__wrap .footer-top__wrap .contact-link {
					font-size: 16px; } }
			@media screen and (max-width: 767px) {
				.cmn-footer .footer-inner__wrap .footer-top__wrap .contact-link {
					font-size: 28px; } }
			.cmn-footer .footer-inner__wrap .footer-top__wrap .contact-link a {
				transition: .3s;
				transition-delay: .2s; }
				.cmn-footer .footer-inner__wrap .footer-top__wrap .contact-link a:after {
					content: '';
					position: absolute;
					background-image: url(/common/img/ico_arrow_white.svg);
					width: 19px;
					height: 13px;
					top: 3px;
					right: 0px;
					opacity: 0;
					transition: 0.3s;
					transition-delay: .2s;
					background-repeat: no-repeat; }
				@media screen and (min-width: 768px) {
					.cmn-footer .footer-inner__wrap .footer-top__wrap .contact-link a:hover {
						padding-right: 34px; } }
				.cmn-footer .footer-inner__wrap .footer-top__wrap .contact-link a:hover::after {
					opacity: 1; }
	.cmn-footer .footer-inner__wrap .footer-center__wrap {
		border-bottom: 1px solid #337996; }
		@media screen and (min-width: 768px) {
			.cmn-footer .footer-inner__wrap .footer-center__wrap {
				margin-top: 40px;
				padding-bottom: 40px; } }
		@media screen and (max-width: 767px) {
			.cmn-footer .footer-inner__wrap .footer-center__wrap {
				margin-top: 48px; } }
		.cmn-footer .footer-inner__wrap .footer-center__wrap a {
			transition: .1s linear; }
			.cmn-footer .footer-inner__wrap .footer-center__wrap a:hover {
				opacity: 0.6; }
		.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav {
			display: flex; }
			@media screen and (max-width: 767px) {
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav {
					flex-wrap: wrap;
					border-top: 1px solid #337996;
					border-bottom: 1px solid #337996;
					font-size: 14px; } }
			@media screen and (min-width: 768px) {
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav li {
					margin-right: 38px;
					font-size: 15px; } }
			@media screen and (max-width: 767px) {
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav li {
					width: 50%;
					border-bottom: 1px solid #337996; }
					.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav li:nth-child(2n-1) {
						border-right: 1px solid #337996;
						width: calc(50% - 1px); }
					.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav li:last-child {
						border-bottom: none; } }
			.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav a {
				display: block; }
				@media screen and (max-width: 767px) {
					.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav a {
						padding-top: 24px;
						padding-left: 30px;
						padding-bottom: 24px;
						font-size: 26px; } }
		.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s {
			display: flex; }
			@media screen and (min-width: 768px) {
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s {
					margin-top: 25px; } }
			@media screen and (max-width: 767px) {
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s {
					flex-wrap: wrap;
					width: 690px;
					margin: 0 auto;
					margin-top: 24px;
					padding-bottom: 50px; } }
			@media screen and (min-width: 768px) {
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s li {
					font-size: 13px;
					margin-right: 26px;
					opacity: 0.8; } }
			@media screen and (max-width: 767px) {
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s li {
					margin-top: 24px;
					font-size: 24px;
					margin-right: 52px; } }
			.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s li.nav-blank {
				position: relative; }
				@media screen and (min-width: 768px) {
					.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s li.nav-blank {
						padding-right: 18px;
						opacity: 0.8; } }
				@media screen and (max-width: 767px) {
					.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s li.nav-blank {
						padding-right: 34px;
						opacity: 0.8; } }
				.cmn-footer .footer-inner__wrap .footer-center__wrap .footer-center__nav--s li.nav-blank:after {
					content: "";
					position: absolute;
					right: 0px;
					background-image: url(/common/img/ico_blank_white.svg);
					block-size: 100%;
					background-repeat: no-repeat;
					width: 15px;
					height: 14px;
					background-repeat: no-repeat;
					background-position: center;
					top: 0px; }
	.cmn-footer .footer-inner__wrap .footer-bottom__wrap {
		position: relative; }
		.cmn-footer .footer-inner__wrap .footer-bottom__wrap a {
			transition: .1s linear; }
			.cmn-footer .footer-inner__wrap .footer-bottom__wrap a:hover {
				opacity: 0.6; }
		.cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-bottom__nav {
			display: flex; }
			@media screen and (min-width: 768px) {
				.cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-bottom__nav {
					margin-top: 30px; } }
			@media screen and (max-width: 767px) {
				.cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-bottom__nav {
					flex-wrap: wrap;
					width: 690px;
					margin: 18px auto 0;
					padding-bottom: 30px; } }
			@media screen and (min-width: 768px) {
				.cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-bottom__nav li {
					font-size: 12px;
					margin-right: 13px;
					opacity: 0.8; } }
			@media screen and (max-width: 767px) {
				.cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-bottom__nav li {
					margin-top: 24px;
					margin-right: 46px;
					font-size: 24px;
					opacity: 0.8; } }
		@media screen and (min-width: 768px) {
			.cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-copyright {
				position: absolute;
				font-size: 12px;
				bottom: 0;
				right: 0;
				opacity: 0.8; } }
		@media screen and (max-width: 767px) {
			.cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-copyright {
				font-size: 24px;
				margin-left: 30px;
				padding-bottom: 128px;
				opacity: 0.8; } }

@media screen and (min-width: 768px) {
	_:-ms-input-placeholder, :root .contact-link a {
		line-height: 1.5; } }

@media screen and (min-width: 768px) {
	_:-ms-input-placeholder, :root .cmn-footer .footer-inner__wrap .footer-bottom__wrap .footer-bottom__nav li {
		margin-right: 11px; } }
