

//==============================================================
//
//  Config [update:2017/9/13]
//
//==============================================================

// window幅
//--------------------------------------------------------
@pc-base-width  :1360;
@sp-base-width  :640;
@breakpoint-pc  :768px;
@breakpoint-sp  :767px;


// カラー
//--------------------------------------------------------
@text-color: #000;
@link-color: black;
@bg-color-left: #e8cdcd;
@bg-color-right: #e5bdbd;

// Font Awesome
// http://fontawesome.io/icons/
//-------------------------------------------------------



.font-gothic(){
	font-family: "游ゴシック体", 'Yu Gothic', "YuGothic","Noto Sans JP",  'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', "メイリオ", "Meiryo", "Osaka", 'ＭＳ Ｐゴシック', 'MS PGothic', "sans-serif";
	font-weight: 500;
}
.font-gothic2(){
	font-family: 'M PLUS 1p', sans-serif;
}
.font-min(){
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
/*
.font-serif(){
	//font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝";
	font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.font-serif-bold(){
	.font-serif();
	font-weight: bold;
}
*/

//==============================================================
//
//  Custom Easing [update:2017/02/28]
//
//  http://easings.net/ja
//
// （参考）イージングのmixin
//  http://www.kuma-de.com/blog/2016-12-08/7273
//  (CSS使い方例)
//  animation-timing-function: @ease-out-cubic;
//==============================================================
// sine
@ease-in-sine       :cubic-bezier(0.47, 0, 0.745, 0.715);
@ease-out-sine      :cubic-bezier(0.39, 0.575, 0.565, 1);
@ease-in-out-sine   :cubic-bezier(0.445, 0.05, 0.55, 0.95);

// quad
@ease-in-quad       :cubic-bezier(0.55, 0.085, 0.68, 0.53);
@ease-out-quad      :cubic-bezier(0.25, 0.46, 0.45, 0.94);
@ease-in-out-quad   :cubic-bezier(0.455, 0.03, 0.515, 0.955);

// cubic
@ease-in-cubic      :cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-out-cubic     :cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in-out-cubic  :cubic-bezier(0.645, 0.045, 0.355, 1);

// quart
@ease-in-quart      :cubic-bezier(0.895, 0.03, 0.685, 0.22);
@ease-out-quart     :cubic-bezier(0.165, 0.84, 0.44, 1);
@ease-in-out-quart  :cubic-bezier(0.77, 0, 0.175, 1);

// quint
@ease-in-quint      :cubic-bezier(0.755, 0.05, 0.855, 0.06);
@ease-out-quint     :cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-out-quint  :cubic-bezier(0.86, 0, 0.07, 1);

// expo
@ease-in-expo       :cubic-bezier(0.95, 0.05, 0.795, 0.035);
@ease-out-expo      :cubic-bezier(0.19, 1, 0.22, 1);
@ease-in-out-expo   :cubic-bezier(1, 0, 0, 1);

// circ
@ease-in-circ       :cubic-bezier(0.6, 0.04, 0.98, 0.335);
@ease-out-circ      :cubic-bezier(0.075, 0.82, 0.165, 1);
@ease-in-out-circ   :cubic-bezier(0.785, 0.135, 0.15, 0.86);

// back
@ease-in-back       :cubic-bezier(0.6, -0.28, 0.735, 0.045);
@ease-out-back      :cubic-bezier(0.175, 0.885, 0.32, 1.275);
@ease-in-out-back   :cubic-bezier(0.68, -0.55, 0.265, 1.55);

// elastic back
@ease-out-back-hard :cubic-bezier(0.680, -0.550, 0.265, 1.550);

