@import "config.less";
@import "mixin.less";


//==============================================================
//
//  effect [update:2017/11/26]
//
// keyframes.less ありきで。
//
//==============================================================

// transition 単位は[s]
// http://easings.net/ja
//-------------------------------------------------------
.transition(@second:0.1s){              transition: all @second ease;}
.transition-easeIn(@second:0.1s){       transition: all @second ease-in;}
.transition-easeOut(@second:0.1s){      transition: all @second ease-out;}
.transition-easeInOut(@second:0.1s){    transition: all @second ease-in-out;}
.transition-easeOutCubic(@second:0.1s){ transition: all @second @ease-out-cubic;}
.transition-easeInCubic(@second:0.1s){ transition: all @second @ease-in-cubic;}


// fadeIn:keyframes 単位は[s]
//-------------------------------------------------------
// 親クラスに visibility:hidden; を記述の上、
// (background-imageだと対象にならない)
.fadeIn-effect(@second:1.0s){
    visibility: visible;
    animation: fadeIn @second;
}

// fadeInp:keyframes 単位は[s]
//-------------------------------------------------------
// 親クラスに visibility:hidden; を記述の上、
// (background-imageだと対象にならない)
.fadeInUp-effect(@second:1.0s, @easing:@ease-out-quart){
    visibility: visible;
    animation: fadeInUp @second;
	animation-timing-function: @easing;
}



// flash:keyframes 単位は[s]
//-------------------------------------------------------
.flash-effect(@second:1.0s){
    animation: flash @second @ease-out-sine;
}

// float:keyframes 単位は[s]
//-------------------------------------------------------
.float-effect(@second:2.0s){
	animation: float @second ease infinite;
	transform-origin: 50% 50%;
}

// spin:keyframes 単位は[s]
//-------------------------------------------------------
.spin-effect(@second:1.3s, @easing:linear){
    animation: spin @second @easing infinite;
}



// [用途] div.zoom > img
// マウスオーバー時に img を拡縮する
// 注：width, height を併記すること
// http://webya-tm.com/archives/1703
//-------------------------------------------------------
.zoomEffect(@second:0.3s, @scale:1.1){
    overflow: hidden;
    img{
        transition:@second ease-in-out;
        &:hover{  transform:scale(@scale,@scale);   }
    }
}
// .clip に対して反映（親要素に overflow:hidden）
.zoomEffectForClip(@second:0.3s, @scale:1.1){
    .transition(@second);
    &:hover{   transform:scale(@scale, @scale);   }
}


//  カードを反転させるやつ
//  http://nh-lab.com/flipping-animetion/
//  http://kimizuka.hatenablog.com/entry/2014/07/11/000000
//-------------------------------------------------------
.transform__rotateY(@deg:0deg){
    transform: rotateY(@deg);
}
.perspective(@value){
    perspective: @value;
}
.backface-visibility__hidden(){
    backface-visibility: hidden;
}


