
/****************

 LOCAL

****************/

/*
@font-face{
  font-family: 'A1明朝';
  src: url('/assets/font/A-OTF-A1MinchoStd-Bold.otf') format('truetype');
}
@font-face{
  font-family: 'リュウミン B-KL';
  src: url('/assets/font/A-OTF-RyuminPro-Bold.otf') format('truetype');
}
@font-face{
  font-family: 'TBUDゴシック R';
  src: url('/assets/font/TBUDGoStd-Regular.otf') format('truetype');
}


@font-face{
  font-family: 'CenturySchoolbookItalic';
  src: url('/assets/font/CenturySchoolbookItalic.ttf') format('truetype');
}
*/

