@import "mixin.less";
@import "config.less";


//==============================================================
//
//  keyframes animation [update:2018/2/16]
//
//==============================================================

//--------------------------------------------------------
// fadeInUp
//--------------------------------------------------------
// 対象を visiblity:hidden; とした上で、
// .fadeInUp-effect(){   visibility: visible;    animation:fadeInUp 1s;  }
// 以下jsも併記。
//--------------------------------------------------------
/*
$(window).on('scroll resize load', this._onScroll);
_onScroll = ()=>{
		let winH		= $(window).height();
		let scrollTop 	= $(window).scrollTop();
		this.$imgList.each((idx, target)=>{
			if( $(target).hasClass("is-effect") ) return;
			let offsetY = $(target).offset().top;
			if (scrollTop > offsetY - winH + 200) {
				$(target).addClass("is-effect");
			}
		});
	};
*/
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



//--------------------------------------------------------
// fadeIn
//--------------------------------------------------------
// 対象を visiblity:hidden; とした上で、
// .fadeIn-effect(){    visibility: visible;    animation:fadeInUp 1s;  }
//--------------------------------------------------------
@keyframes fadeIn {
	0% {     opacity: 0;    }
	100% {   opacity: 1;    }
}


//--------------------------------------------------------
// bgLoopScroll
// http://9-bb.com/css/
//--------------------------------------------------------
// .bgLoopScroll{  animation: bgLoopScroll 25s linear infinite;   }
//--------------------------------------------------------
@keyframes bgLoopScroll {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0px -200px;//適宜調整
	}
}
@keyframes bgLoopScrollSP {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0px vw2(-100px);//適宜調整
	}
}


//--------------------------------------------------------
// spin
// http://on-ze.com/archives/510
//--------------------------------------------------------
// .spin{    animation: spin 1.5s linear infinite;   }
//--------------------------------------------------------
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


//--------------------------------------------------------
// flash
// http://www.nxworld.net/tips/flashing-effects-using-css-or-jquery.html
//--------------------------------------------------------
// .flash{  animation: flash 1s;    }
//--------------------------------------------------------
@keyframes flash {
    0% {	filter: brightness(120%);	}
    20% {	filter: brightness(140%);	}
    100% {	filter: brightness(100%);	}
}


//--------------------------------------------------------
// float
// http://waitanimate.wstone.io
//--------------------------------------------------------
@keyframes float {
	0% { transform: translateY(0) }
	50% { transform: translateY(10px) }
	100% { transform: translateY(0) }
}

