@charset "utf-8";


//==============================================================
//
//  Mixin [update:2017/10/28]
//
//==============================================================

.font_def(){
	//font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-family: 'Noto Sans JP','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

.font_e(){
	font-family: 'Roboto', sans-serif;
}

//=============================================================
//  関数
//=============================================================
.function {

	// pxをvwに変換
	//-------------------------------------------------------
	.vw(@px){
		return: unit(percentage(round(@px/@sp-base-width,7)),vw);
	}
	.vw2(@px){
		return: unit(percentage(round(@px*2/@sp-base-width,7)),vw);
	}
	.vwpc(@px){
		return: unit(percentage(round(@px/@pc-base-width,7)),vw);
	}

}

// Calc (第2引数はStringで)
// [Good]:calc(100% - 88px), [Bad]: calc(100%-88px)
//-------------------------------------------
.calc(@prop, @val) {
	@{prop}: calc(~'@{val}');
	@{prop}: -webkit-calc(~'@{val}');
}



//=============================================================
//  基本要素
//=============================================================





// Size
//-------------------------------------------------------
.wh(@width, @height) {
    width: @width;
    height: @height;
}
.wh100 {
    width: 100%;
    height: 100%;
}
.size(@width, @height) {
    width: @width;
    height: @height;
}
.size-bg(@url){
	width: image-width(@url);
	height: image-height(@url);
}
.size-bg-vw(@url){
	width: vw(image-width(@url));
	height: vw(image-height(@url));
}

// Font
//-------------------------------------------------------
.font(@font-size:14px, @color:inherit, @font-weight:inherit){
	font-size:@font-size;
	font-weight:@font-weight;
	color:@color;
}



// Border
//-------------------------------------------------------
.b(@color:#ff0000, @size:1px){	border:@size solid @color;	}


// Background
//-------------------------------------------------------
.bgc(@color:#ff0000){    			background-color:@color;	}
.bgca(@color:#f00, @opacity:80){	background-color: fade(@color, @opacity);	}


// Background-Image ※相対パス指定。
//-------------------------------------------------------
.bg(@url){
	display: block;
    width: image-width(@url);
    height: image-height(@url);
    background-image: url(@url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    overflow:hidden;
	//.hidden-text();
	//.block-anchor();
}



// Background-Image ※相対パス指定。
//-------------------------------------------------------
.bg-half(@url){
    width: image-width(@url)/2;
    height: image-height(@url)/2;
    background-image: url(@url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
	.hidden-text();
	.block-anchor();
}
// スプライトシートのマウスオーバーボタン
//------------------------------------------------------
.bg-btn(@url){
    width: image-width(@url)/2;
    height: image-height(@url);
    background-image: url(@url);
    background-size: image-size(@url);
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
	.hidden-text();
	.block-anchor();
    &:hover{ background-position: right center;   }
}
// Background-Image(vw) 画面幅に合わせて自動で拡縮。
//-------------------------------------------------------
.bg-vw(@url:''){
	@w: image-width(@url);
	@h: image-height(@url);
	width:  unit(percentage(round(@w/@sp-base-width,5)),vw);
	height: unit(percentage(round(@h/@sp-base-width,5)),vw);
	background-image: url(@url);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	.hidden-text();
	.block-anchor();
}

.bg-vwpc(@url:''){
	@w: image-width(@url);
	@h: image-height(@url);
	width:  unit(percentage(round(@w/@pc-base-width,5)),vw);
	height: unit(percentage(round(@h/@pc-base-width,5)),vw);
	background-image: url(@url);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	.hidden-text();
	.block-anchor();
}


//bgset

.bgsetpc(@x,@y,@url){
	position:absolute;
	top:unit(percentage(round(@y/@pc-base-width,5)),vw);;
	left:unit(percentage(round(@x/@pc-base-width,5)),vw);;
	overflow:hidden;
	text-indent: -9999px;
	.bg-vwpc(~"../img/@{url}");
}
.bgsetsp(@x,@y,@url){
	position:absolute;
	top:@y;
	left:@x;
	overflow:hidden;
	text-indent: -9999px;
	.bg(~"../img/sp_@{url}");
}


// Background-Image(％) 幅100%の背景を敷く場合はこっちを使う。
//-------------------------------------------------------
.bg-percent100(@url:''){
	@w: image-width(@url);
	@h: image-height(@url);
	width: 100%;
	height: @h;
	padding-top: percentage(round(@h/@w,5));
	background-image: url(@url);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.hidden-text();
}

// Background-Image(vw) 背景画像の一部として使う場合。テキストは生かす。
//-------------------------------------------------------
.bg-vw-pos(@url:'', @v-pos:left, @h-pos:center){
	@w: image-width(@url) / @sp-base-width;
	@h: image-height(@url) / @sp-base-width;
	@w2: unit(percentage(round(@w,5)),vw);
	@h2: unit(percentage(round(@h,5)),vw);
	background-image: url(@url);
	background-repeat: no-repeat;
	background-position: @v-pos @h-pos;
	background-size: @w2 @h2;
}



.bg-cover(@url:'',@width,@height){
	position: relative;
	display: block;
	width: @width;
	height: @height;
	background: url(@url) center center no-repeat;
	background-size: cover;
	.hidden-text();
}


.bg-cover2(@url){
	position: relative;
	display: block;
	background: url(@url) center center no-repeat;
	background-size: cover;
	.hidden-text();
}

.bg-contain(@url){
	position: relative;
	display: block;
	background: url(@url) center center no-repeat;
	background-size: contain;
	.hidden-text();
}


// Opacity
//-------------------------------------------------------
.opacity(@opacity) {
    opacity: @opacity / 100;
    filter: ~"alpha(opacity=@{opacity})";
}


//=============================================================
//  位置指定
//=============================================================

// position:absolute
//-------------------------------------------------------
.abs(@x:0px, @y:0px){
	position: absolute;    left: @x;    top: @y;
}
.absb(@x:0px, @y:0px){
	position: absolute;    left: @x;    bottom: @y;
}
.absr(@x:0px, @y:0px){
	position: absolute;    right: @x;    top: @y;
}
.absrb(@x:0px, @y:0px){
	position: absolute;    right: @x;    bottom: @y;
}

.position-absolute(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "TL"){
    position: absolute;    left: @x;    top: @y;    z-index: @z-index;
}
.position-absolute(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "TR"){
    position: absolute;    right: @x;   top: @y;   z-index: @z-index;
}
.position-absolute(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "BL"){
    position: absolute;    left: @x;    bottom: @y;    z-index: @z-index;
}
.position-absolute(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "BR"){
    position: absolute;    right: @x;   bottom: @y;    z-index: @z-index;
}

// position:fixed
//-------------------------------------------------------
.position-fixed(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "TL"){
    position: fixed;    left: @x;    top: @y;    z-index: @z-index;
}
.position-fixed(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "TR"){
    position: fixed;    right: @x;   top: @y;    z-index: @z-index;
}
.position-fixed(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "BL"){
    position: fixed;    left: @x;    bottom: @y;    z-index: @z-index;
}
.position-fixed(@x:0px, @y:0px, @z-index:auto, @align:"TL") when(@align = "BR"){
    position: fixed;    right: @x;   bottom: @y;    z-index: @z-index;
}


//=============================================================
//  FlexBox
//
//  ※第1引数(横方向)：flex-start, flex-end, center, space-between, space-around
//  ※第2引数(縦方向)：flex-start, flex-end, center, baseline, stretch
//=============================================================
.flexbox(@alignX:space-between, @alineY:stretch){
    display:flex;
    justify-content:@alignX;
    align-items: @alineY;
    flex-wrap:wrap;
}

.center{
	display: flex;
	justify-content: center;
	align-items:center;
}
//=============================================================
//  角丸・ドロップシャドウ・テキストシャドウ・グラデーション・マーカー
//=============================================================

// Border-Radius
// ---------------------------------------------
.border-radius(@radius: 8px) {
    border-radius: @radius;
}

// Box-Shadow
// http://www.bad-company.jp/box-shadow/
// ---------------------------------------------
.box-shadow(@x:0px, @y:0px, @blur:8px, @opacity:0.8){
    box-shadow: @x @y @blur rgba(0, 0, 0, @opacity);
}
// Box-Shadows(内側)
// ---------------------------------------------
.box-shadow-inner(@x:2px, @y:2px, @blur:2px, @opacity:0.2){
    box-shadow: @x @y @blur 0 rgba(200, 200, 200, @opacity) inset;
}

// Text-Shadows
// ---------------------------------------------
.text-shadow(@x:0px, @y:0px, @blur:8px, @r:255,@g:255,@b:255,@opacity:0.8){
    text-shadow: @x @y @blur rgba(@r, @g, @b, @opacity);
}

// グラデーション
// http://www.colorzilla.com/gradient-editor/
// http://www.webcreatorbox.com/tech/css-gradient/
//-------------------------------------------------------
.bg-gradation(@startColor:#f00, @endColor:#ff0){
	background: linear-gradient(to bottom, @startColor 0%, @endColor 100%);
}

// 蛍光ペンで下線引いたような装飾
// http://itbenricho.com/highlighter-marker-css.html
//-------------------------------------------------------
.marker(@color:#f0ff00){
    background: linear-gradient(transparent 70%, @color 70%);
}


//=============================================================
//  クリップ
//=============================================================

// 矩形にクリップする
// 変数をわかりやすく扱えるように並べ替えた
//------------------------------------------------------
.clip-rect(@x, @y, @width, @height){
    clip:rect(@y, @width, @height, @x);
}

// 丸型にクリップする。
//-------------------------------------------------------
.clip-circle(@width, @height){
    .size(@width, @height);
    .border-radius(50%);
    overflow: hidden;
    img{    .size(@width, auto);    }
}


//=============================================================
//  便利機能
//=============================================================

// Clearfix
//-------------------------------------------------------
.clearfix(){
    &:after {
        content:"";
        display:block;
        clear:both;
    }
}

// block anchor
//-------------------------------------------------------
.block-anchor(){
	a{
		display: block;
		.abs(0,0);
		.size(100%,100%);
	}
}

// SEO対策用のtext-indent
// http://www.webproduct-lab.com/entry/2015/01/28/100000
//-------------------------------------------------------
.hidden-text(){
	text-indent: -9999px;//-9999px
	overflow: hidden;
	white-space: nowrap;
}

// iOS で滑らかなスクロールを実現する
//-------------------------------------------------------
.ios-smooth-scroll(){
	-webkit-overflow-scrolling: touch;
}

// GPU強制使用
//-------------------------------------------------------
.gpu(){
	-webkit-transform: translateZ(0px);
}


// User-Select:none
//-------------------------------------------------------
.no-selectable(){
    user-select: none;
	//フォーカスされたときのハイライトを無効化（透過）する
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// 「続きを読む」の三点リーダーでテキストを省略する/解除する
//-------------------------------------------------------
.set-text-trimming(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clear-text-trimming(){
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
}
// 複数行対応（webkitのみ）
// http://m.designbits.jp/15012611/
.setTextTrimmingMulti(@numLine:2){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @numLine;
}



//-------------------------------------------------------
// [object-fit] IE11とEdge対策
// http://masaroku.com/?p=1063
//
// (以下をjsで明記すること)
// objectFitImages($('.image img'));
//-------------------------------------------------------
.object-fit(@fit: cover){
	object-fit: @fit;
	font-family: 'object-fit: @{fit}';
}
.object-fit(@fit: cover, @position) {
	object-fit: @fit;
	object-position: @position;
	font-family: 'object-fit: @{fit}; object-position: @{position}';
}




.hv_center{
	position: absolute;
	top:0;
	bottom:0;
	right: 0;
	left:0;
	margin:auto;
}
.h_center{
	position: absolute;
	right: 0;
	left:0;
	margin:auto;
}

.v_center{
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
}

.hover_scale{
	transition: all 200ms 0s ease;
	&:hover{
		transform:scale(1.03);
	}
}
