@charset "utf-8";


//=============================================================
//
//  Reset [update:2017/07/9]
//
//=============================================================

/*!
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video, a{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;

    /* background:transparent; */ /* deleated */
    /* added */
    box-sizing: border-box;
}
input,textarea{
	box-sizing: border-box;
}

/* added */
img{
    vertical-align:bottom;
    font-size:0;
    line-height: 0;
}

html{
    //-webkit-text-size-adjust: 100%; /* iOS 8+ */
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,menu,nav,section {
    display:block;
}
ol, ul, li{/*added*/
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    vertical-align:baseline;
    background:transparent;
    outline: none;

    -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}
a:active,
a:hover {
    outline-width: 0; /* Remove the outline when hovering in all browsers */
}
a:focus{    outline: none;  }

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
sup {
    vertical-align: baseline;
    font-size: 1.1rem;
	line-height: 1;
}
table {
    /* deleated
    border-collapse:collapse;
    border-spacing:0;
    */
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align: baseline;
}

/*added*/
em, address {
	font-style: normal;
}
input{
	margin:0px;
}

input[type="submit"],
input[type="button"] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
