@import "config.less";
@import "mixin.less";


//==============================================================
//
//  レスポンシブ [update:2017/04/04]
//
//==============================================================


//========================================================
// BreakPoint の設定
// http://cly7796.net/wp/javascript/run-the-javascript-at-the-breakpoint-of-media-queries/
//========================================================
#breakpointChecker{
    .pc {     display: none;      }
    .sp {     display: block;     }
}
@media screen and (min-width:@breakpoint-pc) {
    #breakpointChecker .sp {     display: none;    }
    #breakpointChecker .pc {     display: block;   }
}

