extends /_pug/template

block vars
block setting

	link(href="/content/dam/shc/jp/cinal-ex/css/pc.css" rel="stylesheet" media='print, screen and (min-width:' + break_point + 'px)')
	link(href="/content/dam/shc/jp/cinal-ex/css/sp.css" rel="stylesheet" media='screen and (max-width:' + (break_point-1) + 'px)')
	script(src="/content/dam/shc/jp/cinal-ex/js/index.js" charset="UTF-8")
block content

	#maincontent.maincontent

		section.kv

		section.feature
			ul.feature__navlist
				li.feature__navlist__detail
				li.feature__navlist__detail
				li.feature__navlist__detail

			ul.feature__contentlist
				li.feature__contentlist__detail.feature__contentlist__detail1
					.feature__list__title
					.feature__list__read

					.feature__list__vitamin
						.feature__list__vitamin__title
						.feature__list__vitamin__read
						ul.feature__list__vitamin__list
							li.feature__list__vitamin__list__detail
							li.feature__list__vitamin__list__detail
							li.feature__list__vitamin__list__detail
							li.feature__list__vitamin__list__detail

				li.feature__contentlist__detail.feature__contentlist__detail2
					.feature__list__title
					.feature__list__read
					.feature__list__component
						.feature__list__component__title
						.feature__list__component__read



				li.feature__contentlist__detail.feature__contentlist__detail3
		section.product
			.product


