.

	<meta name="keywords" content="美白,美肌,シミ,医薬品,サプリ">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=750, initial-scale=1"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="description" content="細胞レベルで、シミ対策。シオノギヘルスケアのシミ対策医薬品『シナール®L ホワイト エクシア』公式サイトです。シナール史上最大量配合のシミ対策成分（ビタミンC、L-システイン）と、新規配合成分ビオチンを始めとした充実の肌活性化成分で、できてしまったシミも薄くします。"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta property="og:locale" content="ja_JP"/>
	<meta property="og:title" content="シナール®L ホワイト エクシア | シオノギヘルスケア"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://www.shionogi-hc.co.jp/cinal-ex.html"/>
	<meta property="og:image" content="/content/dam/shc/jp/ja/special/cinal/img/ogp.jpg"/>
	<meta property="og:site_name" content="シナール®L ホワイト エクシア | シオノギヘルスケア"/>
	<meta property="og:description" content="細胞レベルで、シミ対策。シオノギヘルスケアのシミ対策医薬品『シナール®L ホワイト エクシア』公式サイトです。シナール史上最大量配合のシミ対策成分（ビタミンC、L-システイン）と、新規配合成分ビオチンを始めとした充実の肌活性化成分で、できてしまったシミも薄くします。"/>
	<meta property="twitter:card" content="Summary Card with Large Image"/>

	<meta property="twitter:title" content="シナール®L ホワイト エクシア | シオノギヘルスケア"/>
	<meta property="twitter:description" content="細胞レベルで、シミ対策。シオノギヘルスケアのシミ対策医薬品『シナール®L ホワイト エクシア』公式サイトです。シナール史上最大量配合のシミ対策成分（ビタミンC、L-システイン）と、新規配合成分ビオチンを始めとした充実の肌活性化成分で、できてしまったシミも薄くします。"/>
	<meta property="twitter:image" content="/content/dam/shc/jp/ja/special/cinal/img/ogp.jpg"/>

	<meta name="template" content="page-empty"/>
	<meta name="apple-mobile-web-app-title" content="シナール®L ホワイト エクシア | シオノギヘルスケア"/>

	<title>シナール®L ホワイト エクシア | シオノギヘルスケア</title>
//-
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=750,user-scalable=yes")
	meta(name="format-detection" content="telephone=no")

	title #{title}
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)


	meta(property="og:url" content=url)
	meta(property="og:title" content=title)
	meta(property="og:site_name" content=site_name)
	meta(property="og:description" content=description)
	meta(property="og:image" content=ogp_image)
	meta(property="og:type" content="website")
	meta(property="og:locale" content="ja_JP")

//-
	meta(property="fb:app_id" content="804805519704116")
	//meta(property="fb:app_id" content="2019943308268582")

	meta(name="twitter:url" content=url)
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:title" content=title)
	meta(name="twitter:description" content=description)
	meta(name="twitter:image" content=ogp_image)

	link(rel="shortcut icon" href="/common/img/favicon.ico")
	link(rel="apple-touch-icon" href="/common/img/apple-touch-icon.png")

//-
	.
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		 fbq('init', '554534448376626');
		fbq('track', 'PageView');
		</script>
		<noscript>
		 <img height="1" width="1" src="https://www.facebook.com/tr?id=554534448376626&ev=PageView&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->


link(href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700|Noto+Sans+JP:400,700&display=swap&subset=japanese" rel="stylesheet")
link(href="/content/dam/shc/jp/cinal-ex/css/common_pc.css" rel="stylesheet" media='print, screen and (min-width:' + break_point + 'px)')
link(href="/content/dam/shc/jp/cinal-ex/css/common_sp.css" rel="stylesheet" media='screen and (max-width:' + (break_point-1) + 'px)')

script(src="/content/dam/shc/jp/cinal-ex/js/libs.min.js" charset="UTF-8")
script(src="/content/dam/shc/jp/cinal-ex/js/common.js" charset="UTF-8")

