include /_pug/vars
block vars

doctype html
html(lang="ja")
	head
		include /_pug/setting
		block setting
		.

			<!-- Google Tag Manager -->
			<script>
				(function(w, d, s, l, i) {
				    w[l] = w[l] || [];
				    w[l].push({
				        'gtm.start': new Date().getTime(),
				        event: 'gtm.js'
				    });
				    var f = d.getElementsByTagName(s)[0],
				        j = d.createElement(s),
				        dl = l != 'dataLayer' ? '&l=' + l : '';
				    j.async = true;
				    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				    f.parentNode.insertBefore(j, f);
				})(window, document, 'script', 'dataLayer', 'GTM-N3FSS4T');
			</script>
			<!-- End Google Tag Manager -->
			    <!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			    })(window,document,'script','dataLayer','GTM-TT56HDN');</script>
			<!-- End Google Tag Manager -->


	body
		.
			<!-- Google Tag Manager (noscript) -->
			<noscript>
				<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT56HDN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
			<!-- Google Tag Manager (noscript) -->
			<noscript>
				<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3FSS4T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->

		#pagetop
		//-include /_pug/code/analytics
		//- include /_pug/code/fb-sdk
		include /_pug/ui/gnavi
		include /_pug/ui/header
		div(class="content-wrapper")
			block content
		include /_pug/ui/footer
		include /_pug/code/breakpoint

