
- var break_point	= 768;

- var site_name 	= "";
- var url 			= "";
//- var ogp_image		= url + "ogp.png";
- var ogp_image		= "";
- var favicon_image	= url + "favicon.ico";
- var sp_icon_image	= url + "apple-touch-icon.png";

